.site-header {
  align-items: center;
  background: color("gray-1");
  display: flex;
  height: 50px;
  padding: .5rem 1rem;
  width: 100%;
}

.site-name {
  color: rgba(255, 255, 255, .8);
  contain: content;
  font-family: "Space Mono", monospace;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: .15s color ease-in;
  will-change: color;

  /* States */
  &:hover {
    color: #fff;
  }

  /* Children */
  a {
    color: inherit;
    text-decoration: none;
  }
}